    <footer class="text-center-xs space--xs bg--dark ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7">
                            <ul class="list-inline">
                                <li>
                                    <a href="/about">
                                        <span class="h6 type--uppercase">About</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/info?message=Page under construction">
                                        <span class="h6 type--uppercase">Support</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-7">
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> MENTORKG</span>
                            <a class="type--fine-print" href="#">mentorkyrgyzstan@gmail.com</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
        <script src="<%= path %>js/flickity.min.js"></script>
        <script src="<%= path %>js/easypiechart.min.js"></script>
        <script src="<%= path %>js/parallax.js"></script>
        <script src="<%= path %>js/typed.min.js"></script>
        <script src="<%= path %>js/datepicker.js"></script>
        <script src="<%= path %>js/isotope.min.js"></script>
        <script src="<%= path %>js/ytplayer.min.js"></script>
        <script src="<%= path %>js/lightbox.min.js"></script>
        <script src="<%= path %>js/granim.min.js"></script>
        <script src="<%= path %>js/jquery.steps.min.js"></script>
        <script src="<%= path %>js/countdown.min.js"></script>
        <script src="<%= path %>js/twitterfetcher.min.js"></script>
        <script src="<%= path %>js/spectragram.min.js"></script>
        <script src="<%= path %>js/smooth-scroll.min.js"></script>
        <script src="<%= path %>js/scripts.js"></script>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter45512661 = new Ya.Metrika({
                            id:45512661,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            webvisor:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/45512661" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </body>

<!-- Mirrored from trystack.mediumra.re/home-landing-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 31 Jul 2017 10:02:20 GMT -->
</html>